<input data-url="upload" class="sh-input btn-block" type="file" name="sh-file-upload" accept="{{options.acceptEncoding}}">
{{#if displayUploadButton}}
<button type="submit" class="btn btn-green btn-block" id="startupload" disabled={{uploadButtonDisabled}} {{action "upload"}}>
    {{uploadButtonText}}
</button>
{{/if}}
