{{#sh-dropdown-button tagName="header" class="sh-nav-menu" dropdownName="user-menu"}}
  <div class="sh-nav-menu-icon fa fa-shopping-cart"></div>
    <div class="sh-nav-menu-details">
      <div class="sh-nav-menu-details-shop">Shopie</div>
      <div class="sh-nav-menu-details-user">{{session.user.name}}</div>
  </div>
  <i class="fa fa-angle-down"></i>
{{/sh-dropdown-button}}
{{#sh-dropdown tagName="div" name="user-menu" closeOnClick="true"}}
  <ul class="dropdown-menu dropdown-triangle-top js-user-menu-dropdown-menu" role="menu" style="right:-20px;left:auto;">
    <li role="presentation">{{#link-to "users.user" session.user.id classNames="dropdown-item user-menu-profile js-nav-item" role="menuitem" tabindex="-1"}}<i class="fa fa-user"></i> Your Profile{{/link-to}}</li>
    <li role="presentation">{{#link-to "logout" classNames="dropdown-item user-menu-signout" role="menuitem" tabindex="-1"}}<i class="fa fa-sign-out"></i> Sign Out{{/link-to}}</li>
  </ul>
{{/sh-dropdown}}
<section class="sh-nav-body">
  <ul class="sh-nav-list sh-nav-main">
    <li>{{#link-to "orders" classNames="sh-nav-main-content"}}<i class="fa fa-shopping-cart"></i>orders{{/link-to}}</li>
    <li>{{#link-to "products" classNames="sh-nav-main-content"}}<i class="fa fa-product-hunt"></i>products{{/link-to}}</li>
    <li>{{#link-to "users" classNames="sh-nav-main-users"}}<i class="fa fa-users"></i>Users{{/link-to}}</li>
    <li>{{#link-to "media" classNames="sh-nav-main-media"}}<i class="fa fa-folder"></i>Media{{/link-to}}</li>
  </ul>
</section>
<footer class="sh-nav-footer">
  <a class="sh-nav-footer-sitelink" href="/" target="_blank">View shop</a>
  <div class="sh-help-menu">

  </div>
</footer>