<div class="header-cover" style="min-height:400px;overflow:hidden;">
    <div class="text-overlay text-center" style="background: url({{imageCover}}) no-repeat center fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;background-attachment: scroll;">
        <div class="text-overlay header-image-color" style="height:400px;overflow:hidden;">
            <div class="light white-text header-text" style="margin-top:132px;">
                <h1 class="text-center">Lead by Design</h1>
                <div class="row">
                    <div class="large-8 columns large-centered text-center">
                        <p class="white-text lead"><strong>ZURB</strong> is a product design company since 1998. <br>Through consulting, product design tools and training, we transform the way businesses approach progressive design.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
