# a file type we don't need to store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.db
*.log
*.db-journal

# C extensions
*.so

# OS stuff
.DS_Store
thumbs.db

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# task runner
bin
npm-debug.log
node_modules
bower_components

#logs info
logs

# Local development stuff
dev
manage.py
media
