<section class="post-controls">
  {{#link-to "editor.edit" model.id class="btn btn-minor product-edit" title="Edit this product"}}<i class="fa fa-pencil-square-o"></i>{{/link-to}}
</section>
{{#sh-content-preview-content tagName="section" content=model}}
  <div class="wrapper">
    <h1 class="content-preview-title">
      {{#link-to "editor.edit" model.id}}
        {{model.name}}
      {{/link-to}}
    </h1>
  {{sh-format-markdown model.description}}
  </div>
{{/sh-content-preview-content}}