<div class="sh-flow">
  <div class="sh-flow-content-wrap">
    <section class="sh-flow-content">
      <form id="login" class="sh-signin" method="post" novalidate="novalidate">
        {{#sh-form-group errors=model.errors hasValidated=hasValidated property="identification"}}
          <span class="input-icon icon-mail">
            {{sh-trim-focus-input class="sh-input email" type="email" placeholder="Email Address" name="identification" autocapitalize="off" autocorrect="off" tabindex="1" focusOut=(action "validate" "identification") value=model.identification}}
          </span>
        {{/sh-form-group}}
        {{#sh-form-group errors=model.errors hasValidated=hasValidated property="password"}}
          <span class="input-icon icon-lock forgotten-wrap">
            {{sh-input class="password" type="password" placeholder="Password" name="password" tabindex="2" value=model.password autocorrect="off"}}
            {{#sh-spin-button class="forgotten-link btn btn-link" type="button" action="forgotten" tabindex="4" submitting=submitting autoWidth="true"}}Forgot?{{/sh-spin-button}}
          </span>
        {{/sh-form-group}}
        {{#sh-spin-button class="login btn btn-coffee btn-block" type="submit" action="validateAndAuthenticate" tabindex="3" submitting=loggingIn autoWidth="false"}}Login in{{/sh-spin-button}}
      </form>

      <p class="main-error">{{{flowErrors}}}</p>
    </section>
  </div>
</div>
