<<<<<<< HEAD
=======
.sh-app {
    display: -webkit-flex;
    display: -ms-flexbox;
	display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
}

.sh-main {
    position: relative;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
}

.sh-view {
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

>>>>>>> e9b3e94b743fc6d70cb72f3c50f5384a277cc294
.view-header {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-align-items: center;
    -ms-flex-align: center;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 20px;
    height: 65px;
    border-bottom: #dfe1e3 1px solid;
}

.view-title {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 2rem;
    line-height: 1.2em;
    font-weight: 400;
}

.view-title a {
    color: inherit;
}

.view-title a:hover {
    color: $blue;
}

.view-title i {
    margin: 0 10px;
    color: #818181;
    font-size: 14px;
    line-height: 12px;
}

.view-actions {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.view-actions .btn {
    margin-left: 8px;
}

.view-container,
.view-content {
    position: relative;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.view-content {
    padding: 20px;
}

.view-content p,
.view-content p * {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

@media (max-width: 400px) {
    .view-header {
        padding: 0 7px;
        height: 50px;
    }
    .view-title {
        font-size: 1.8rem;
    }
    .view-content {
        padding: 15px;
    }
}

.top-bar-section li:not(.has-form) a.active {
	background: scale-color($blue, $lightness: 10%);
   	color: #fff;
}

.top-bar-section li:not(.has-form) a:not(.active):hover {
	background: scale-color($blue, $alpha: -85%);
   	color: $darkgrey;
}

/**
 *
 */
.entry_content .intro p, h5 {
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.entry_content .intro p {
    word-spacing: 3px;
}

.page-wrapper {
    padding: 30px 0;
}

.center-column {
    margin: 0 auto;
    float: none;
}

.entry_content {
    padding: 5% 0 0;

    a {
        color: #333;
        border-bottom: 1px #e8603c solid;

        &:hover {
            color: #e8603c;
            border-bottom: 0;
        }
    }
}

$memtoko-footer-header-color: $oil;
$memtoko-footer-color: #434241;
$memtoko-footer-bg: #f9fafa;

.memtoko-footer {
    padding: 2rem 4rem;
    background: $memtoko-footer-bg;
    color: $memtoko-footer-color;
    border-top: 1px solid #e5e5e5;

    i, .icon {
        font-size: 100px;
    }

    h4 {
        color: $memtoko-footer-header-color;
        font-size: 1em;
        font-weight: 400;
        text-transform: uppercase;
        margin: 2.5rem 10px 0;
    }
    p, a {
        font-weight: 300;
        font-size: .8em;
        color: $memtoko-footer-color;
  }
}

.noise {
    background: #F5F7FA url(../images/noise.jpg) repeat;
    -webkit-background-size: 275px 275px;
    background-size: 275px 275px;
}

.breadcrumbs {
    border: 0px;
    background-color: transparent;
    border-radius: 3px;
}

.memtoko-alerts {
    margin-top: 20px;
}

.alert-box {
  background: #f7f7f7;
  color: #333;
  border: none;
  border-left: 6px solid #008CBA;
  box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);

  &.success {
    background: #f7f7f7;
    color: #333;
  }

  &.alert {
    background: #f7f7f7;
    color: #333;
  }

  &.warning {
    background: #f7f7f7;
    color: #333;
  }

  &.info {
    background: #f7f7f7;
    color: #333;
  }

  &.small {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 0.75rem;

    .close {
      font-size: 1.5rem;
    }
  }

  &.large {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;

    .close {
      font-size: 3rem;
    }
  }

  .close {
    font-size: 2rem;
    line-height: 1.25rem;
  }
}
