$highlight: #94cd4b;
@mixin clearit() {
	*zoom: 1;

	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

.product_detail {
    margin: 5% 0;
}

.widget {
    border-bottom: 1px solid #edeff3;
    padding: 10% 15%;
}

.shop {
	
	.content-list-content {
		margin-top: 20px;
	}

	ul.products {
		margin: 0 0 1em;
		padding: 0;
		list-style: none outside;
		clear: both;
		@include clearit();

		li {
			list-style: none outside;

			&.product {
				float: left;
				margin: 0 3.8% 2.99em 0;
				padding: 0;
				position: relative;
				width: 45%;
				margin-left: 0;
				background-color: #fff;
				border: 1px solid #dedede;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				
				@media screen and ( max-width: 782px ) {
					margin-left: 0;
					margin-right: 0;
					width: 100%;
				}

				.action-links {
					position: absolute;
					top: 20px;
					right: 20px;
					width: 120px;
				}

				.name,
				.desc {
					margin-left: 148px; /* icon + margin */
					margin-right: 120px; /* action links */
					p {
						font-size: .8rem;
					}
				}

				.top {
					position: relative;
					padding: 20px 20px 10px;
					min-height: 135px;
				}

				.bottom {
					clear: both;
					padding: 12px 20px;
					background-color: #fafafa;
					border-top: 1px solid #dedede;
					overflow: hidden;
				}
				.action-buttons {
					clear: right;
					float: right;
					margin-left: 2em;
					margin-bottom: 1em;
					text-align: right;

					li {
						margin-bottom: 10px;
					}
				}

				.onsale {
					top: 0;
					right: 0;
					left: auto;
					margin: -.5em -.5em 0 0;
				}

				h3 {
					padding: .5em 0;
					margin: 0;
					font-size: 1em;
				}

				.icon {
					position: absolute;
					top: 20px;
					left: 20px;
					width: 128px;
					height: 128px;
					margin: 0 20px 20px 0;

					img {
						width: 128px;
						height: 128px;
					}
				}

				a {
					text-decoration: none;
				}

				a img {
					width: 100%;
					height: auto;
					display: block;
					margin: 0 0 1em;
					box-shadow: none;
				}

				strong {
					display: block;
				}

				.star-rating {
					font-size: .857em;
				}

				.button {
					margin-top: 1em;
				}

				.price {
					color: $highlight;
					display: block;
					font-weight: normal;
					margin-bottom: .5em;
					font-size: .857em;

					del {
						color: inherit;
						opacity: 0.5;
						display: block;
					}

					ins {
						background: none;
						font-weight: 700;
					}

					.from {
						font-size: 0.67em;
						margin: -2px 0 0 0;
						text-transform: uppercase;
						color: rgba(desaturate($highlight, 75%), 0.5);
					}

					.first {
						clear:both;
					}

					.last {
						margin-right: 0;
					}
				}
			}
		}
	}
}

.product-purchase-box,
.product-intro {
	background: #3a3f4e;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3a3f4e), color-stop(100%, #30373b));
    background: -webkit-linear-gradient(top, #3a3f4e 0%, #30373b 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#3a3f4e), to(#30373b));
    background: linear-gradient(to bottom, #3a3f4e 0%, #30373b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a3f4e', endColorstr='#30373b',GradientType=0 );
    padding: 5% 15px;
    text-align: center;

    .title {
    	
    	h1 {
    		margin-bottom: 2%;
    		color: #fff;
    		font-size: 3.2rem;
    	}

    	.sub-intro {
    		margin-left: auto;
    		margin-right: auto;
    		margin-bottom: 4%;
    		max-width: 850px;

    		p, h6 {
	    		font-size: 1.4rem;
	    		letter-spacing: -0.5px;
    		}
    	}
    }

    p {
    	color: #D2D6DF;
    }
}

.button-group {
  position: relative;
  display: inline-block;
  margin: 1rem 0;
  &:before {
    content: attr(data-grouptype);
    z-index: 99999;
    color: #999;
    display: block;
    font-size: 1.1rem;
    padding: 0.25em;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 42.5%;
    top: 0.35rem;
  }
  a.button + a.button {
    margin-left: 5px;
  }
}

.product-cta {
	.wrap {
	    -webkit-box-shadow: 0px 5px 0px 0px rgba(58,63,78,0.1);
	    -moz-box-shadow: 0px 5px 0px 0px rgba(58,63,78,0.1);
	    box-shadow: 0px 5px 0px 0px rgba(58,63,78,0.1);
	    height: 100px;
	    line-height: 100px;
	    position: relative;
	    vertical-align: middle;
	    text-align: center;
	    z-index: 99;
	    padding: 3%;
	}

	.action-lists {
		@include inline-list;

		li p,
		.title p {
			font-size: 1.5rem;
		}

		.title p {
			font-weight: 700;
		}
	}
}

/*------------------------------------
 timeline styles
------------------------------------*/
.issue-container {
  margin-bottom: 70px;
  .path-item{
    
    h1{
       text-align: center;
       margin-bottom: 70px;
    }
    h3 {
      margin-bottom: 10px;
      line-height: 1.15;
    }
    p {
      font-size: emCalc(16px);
      line-height: 1.7;
      margin-bottom: 25px;
    }
    a {
      font-weight: bold;
      font-size: emCalc(14px);
    }
    .circle{
      background-color: #ccc;
      background-size: 100px 100px;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      position: relative;
      margin-bottom: 180px;
      z-index:2;
      &.circle-left{
        left: -7px;
      }
      &.circle-right{
        right: -10px;
      }
    }
  }
  .line {
    background: #ddd;
    width: 2px;
    bottom: 0;
    position: absolute;
    top: 160px;
    left: 50%;
    z-index: 0;
    height: 1164px;
  }
}
  
/*------------------------------------
 medium timeline styles
------------------------------------*/
	
@media only screen and (max-width: 800px) and (min-width: 768px) {
	.line {
		display: none !important;
	}
	.large-5.columns.path-text {
		width: 70%;
		right: 0;
		margin-left: 15px;
	}
	.path-item .large-7 {
		width: 25%;
	}
	.push-5 {
		left: 0;
		float: right;
	}
  .circle-right{
    float: left;
    right: 0px !important;
  }
  .circle-left{
    left: 0px !important;
  }
}


/*------------------------------------
 mobile timeline styles
------------------------------------*/


@media only screen and (max-width: 767px){ 
	.issue-container {
		text-align: center;
		.circle{
	  		top: 0;
	  		right: 0;
	  		left: 0;
	  		float: none;
	  		margin-bottom: 30px !important;
	  		margin-top: 60px;
	  		margin-left: auto;
	  		margin-right: auto;
    	}	
	}	
}
