{% extends "base.html" %}{% load i18n %}{% load markdown %}
{% block title %}{{ user_obj.username }}{% endblock %}
{% block before_content %}
	<div class="banner-user-profile">
		<div class="row">
			<div class="banner-user-card">
				<img src="//www.gravatar.com/avatar/{{ email_hash }}?size=200" class="avatar profile" alt="{{ user_obj.username }}">
				<h1 class="banner-user-name">{{ user_obj.username }}</h1>
        {% if user_obj.is_authenticated %}
				<a href="#">Ubah profile</a>
        {% endif %}
			</div>
		</div>
	</div>
{% endblock %}
