<div class="row">
    <div class="large-6 small-12 columns center-column">
      <ul class="pricing-table">
        <li class="title">{{ object.name }}</li>
        <li class="price">Rp {{ object.unit_price }}</li>
        <li class="bullet-item">1 tahun support</li>
        <li class="bullet-item">1 tahun update support</li>
        <li class="bullet-item">50% harga perpanjangan lisensi</li>
        <li class="cta-button">
          <form class="cart" method="post" action="{% url 'shopie:cart' %}">{% csrf_token %}
            <input type="hidden" name="add_item_id" value="{{ object.pk }}">
            <input type="hidden" name="add_item_quantity" value="1">
            <input type="submit" class="button primary round" value="Beli">
          </form>
        </li>
      </ul>
    </div>
</div>

