{% extends "base.html" %}
{% load staticfiles %}
{% load markdown %}
{% block title %}Shop{% endblock %}

{% block bodyclass %}shop{% endblock %}

{% block content %}
<div class="page-wrapper">
<div class="row">
<div class="large-12 columns">
  <ul class="products">
  {% for object in object_list %}
    <li class="product {% cycle 'first' 'last' %}">
      <div class="top">
        <a href="{% url 'product_detail' object.slug object.pk %}" class="icon">
        {% if object.thumbnail %}
          <img src="{{ object.thumbnail }}">
        {% else %}
          <img src="{% static "images/placeholder.png" %}">
        {% endif %}
        </a>
        <div class="name column-name">
          <h3><a href="{% url 'product_detail' object.slug object.pk %}">{{ object.name }}</a></h3>
        </div>
        <div class="action-links">
          <ul class="action-buttons">
            <li><a class="button secondary round extra-small" href="{% url 'product_detail' object.slug object.pk %}">view</a></li>
          </ul>
        </div>
        <div class="desc">
          {{ object.short_description|markdown }}
        </div>
      </div>
      <div class="bottom">
        {% if object.product_type == 10 %}
        <div class="price"><p>Price: {{ object.unit_price }}</p></div>
        {% else %}
        <div class="price"><p>Price from: {{ object.from_price }}</p></div>
        {% endif %}
      </div>
    </li>
  {% endfor %}
  </ul>
</div>
</div>
</div>
{% endblock %}
