{{#sh-modal-dialog action="closeModal" showClose=true type="action"
    title="Upload File" confirm=confirm confirmAccept=(action "uploadFile") confirmReject=(action "cancelUpload") class="upload-file"}}
  <form id="settings-import" enctype="multipart/form-data">
    <fieldset>
      <div class="form-group">
        <label>Upload</label>
        {{sh-file-upload id="uploadfile" displayUploadButton=displayUploadButton classNames="flex" uploadButtonText=uploadButtonText onAdd="onAddFile"}}
      </div>
    </fieldset>
  </form>
{{/sh-modal-dialog}}
