<section class="post-controls">
  {{#link-to "orders.order" order.id}}
    <i class="fa fa-arrow-right"></i> <span>Back</span>
  {{/link-to}}
</section>
<section class="content-preview-content">
  <div class="wrapper order-edit">
    <h1 class="content-preview-title">
      #{{model.number}}
    </h1>
    <section class="details">

    </section>
  </div>
</section>
