<section class="post-controls">
  <i class="icon-edit"></i>
</section>
{{#sh-content-preview-content tagName="section" content=model}}
  <div class="wrapper">
    <h1 class="content-preview-title">
      # {{model.id}}
    </h1>
  </div>
{{/sh-content-preview-content}}
