{% load staticfiles%}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Shopie</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="/" />
    {% if ember_preload %}
      {% for env, envie in ember_preload.items %}
      <meta name="env-{{ env }}" content="{{ envie }}">
      {% endfor %}
    {% endif %}

    <link rel="stylesheet" href="{% static "shopie/css/vendor.css" %}">
    <link rel="stylesheet" href="{% static "shopie/css/shopie.css" %}">


  </head>
  <body>
    <form style="display:none">
      {% csrf_token %}
    </form>

    <script src="{% static "shopie/js/vendor.js" %}"></script>
    <script src="{% static "shopie/js/shopie.js" %}"></script>


  </body>
</html>
