{% if cart_items %}
<table class="large-12 small-12">
  <thead>
    <tr>
    <th>Product name</th>
    <th>Unit price</th>
    <th>Quantity</th>
    <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    {% for item in cart_items %}
      <tr>
        <td>{{ item.product.name }}</td>
        <td>{{ item.product.unit_price }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.line_subtotal }}</td>
      </tr>
      {% for extra_price_field in item.extra_price_fields %}
        <tr>
          <td colspan="2">&nbsp;</td>
          <td>{{ extra_price_field.0 }}</td>
          <td>{{ extra_price_field.1 }}</td>
        </tr>
      {% endfor %}
      <tr><td colspan="2">&nbsp;</td><td>Line Total:</td><td>{{ item.line_total }}</td></tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr><td colspan="2">&nbsp;</td><td>Cart Subtotal</td><td>{{cart.subtotal_price}}</td></tr>
    {% for extra_price_field in cart.extra_price_fields %}
      <tr>
        <td colspan="2">&nbsp;</td>
        <td>{{ extra_price_field.0 }}</td>
        <td>{{ extra_price_field.1 }}</td>
      </tr>
    {% endfor %}
    <tr><td colspan="2">&nbsp;</td><td><b>Cart Total</b></td><td><b>{{ cart.total_price }}</b></td></tr>
  </tfoot>
</table>
{% endif %}
