<div class="sh-viewport">
    {{#unless isAdmin}}
        {{sh-nav-menu-front}}
    {{/unless}}
    {{#sh-main onMouseEnter="closeAutoNav"}}
        {{outlet}}
    {{#sh-main}}

    {{outlet "modal"}}
</div>
