<div class="row">
    <div class="medium-10 large-9 columns medium-centered">
    <p class="lead large text-center"><strong>We&rsquo;re a nimble team, doing mighty things!</strong> We&rsquo;re empowering businesses and teams to put Design first by helping them roll up their sleeves and apply customer-centric product design practices to their daily work.</p>
    <br>
    <p class="lead large text-center">Have a project or training that you want to get started? Give us a call at 408.341.0600 or email us at <a href="/cdn-cgi/l/email-protection#f196948582859083859495b18b848393df929e9c">this</a>. Learn more about our Studios work.</p>
    <br>
    </div>
</div>
