<div class="product-wrap">
  <div class="product-intro">
    <div class="row">
      <div class="title center"><h1 class="entry title">{{model.name}}</h1></div>
      <div class="large-8 columns large-centered text-center">
        <div class="sub-intro">{{sh-format-markdown model.shortDescription}}</div>
      </div>
      {{sh-btn-group-type dataGroupType="atau" primaryAction="purchase" primaryActionText="Beli sekarang" secondaryAction="read" secondaryActionText="Pelajari dulu"}}
    </div>
  </div>
  <div class="product-cta noise"><div class="wrap">
    <div class="row">
      <div class="large-6 small-12 columns center-column">
      <ul class="action-lists">
        <li class="title"><p>Support: </p></li>
        <li>
          <p>{{#link-to "issues" model.formatSlug}}
            <span class="octicon octicon-issue-opened"> issues</span>
          {{/link-to}}</p>
        </li>
        <li>
          <p><a href="/wiki/"><span class="octicon octicon-book"> documentation</span></a></p>
        </li>
      </ul>
      </div>
    </div>
  </div></div>
  <div id="product-about-text" class="product-about">
    <div class="row">
      <div class="large-9 small-12 columns center-column">
        <div class="entry_content">
          {{sh-format-markdown model.description}}
        </div>
      </div>
    </div>
  </div>
</div>
