<div class="product-intro">
  <div class="row">
    <div class="title center"><h1 class="entry title">{{model.name}}</h1></div>
    <div class="large-8 columns large-centered text-center">
      <div class="sub-intro">{{sh-format-markdown model.shortDescription}}</div>
    </div>
    <div class="button-group" data-grouptype="Atau">
      <a href="#purchase" class="button secondary radius">Beli sekarang</a>
      <a href="#product-about-text" class="button primary radius">Pelajari dulu</a>
    </div>
  </div>
</div>
