{{#sh-modal-dialog action="closeModal" confirmAccept=(action "confirmAccept") confirmReject=(action "confirmReject") showClose=true type="action" style="wide"
    title="Are you sure you want to remove this product from your cart?" confirm=confirm}}
    <p>Kamu akan menghapus {{model.name}} dari keranjang belanja Anda. Jika kamu ingin memasukkannya lagi, Anda harus mencarinya lagi.</p>
{{/sh-modal-dialog}}
