{% extends "shopie/checkout/base.html" %}
{% load i18n %}
{% block content %}
<div class="row">
  <div class="medium-6 large-6 columns">
    <h3>Punya akun? Silahkan Login</h3>
    <form method="post" action="{% url 'auth_login' %}" class="checkout-login">
      {% csrf_token %}
      {{ auth_form.as_p }}
      <input type="submit" class="button primary round small" value="Login" />
      <input type="hidden" name="next" value="{% url 'shopie:checkout' %}" />
    </form>
  </div>
  <div class="medium-6 large-6 columns">
    <h3>Atau Daftar</h3>
    <form class="checkout-register" action="{% url 'registration_register' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="button primary round small" value="Register" />
      <input type="hidden" name="next" value="{% url 'shopie:checkout' %}" />
    </form>
  </div>
</div>
{% endblock %}
