.home .top-bar,
.top-bar.transparent {
    position: absolute;
    background: transparent !important;
    width: 100%;
    z-index: 99;

    ul {

        &.right {
            background: transparent;
        }

        li {
            background: transparent;

            &:not(.has-form) a:not(.button) {
                padding: 0 20px;
                line-height: 60px;
                background: transparent;
            }

            li a {
                padding: 0 16px;
                border-left: 1px solid rgba(0, 0, 0, 0);
                background: transparent !important;

                &:hover {
                    background: rgba(255, 255, 255, 0.1);
                }

                &.current {
                    background: rgba(255, 255, 255, 0.1);

                    &:hover {
                        background: rgba(255, 255, 255, 0.1);
                    }
                }
            }
        }
    }
}

.global-nav ul.right li a {
    font-size: 13px;
    line-height: 45px;
    display: block;
    padding: 0 15px;
    border-left: 1px solid #4d4d4d;
    background: #333;
}

.main-header {
    background-color: #23b9d1;

    &.services {
        margin-bottom: 4rem;
    }

    p {
        font-size: 1.1rem;
        font-color: #424140;

        &.lead {
            font-size: 1.2em;
            line-height: 1.5;
            margin-bottom: 35px;

            &.scroll {
                font-size: 1.125em;
                color: white;
                position: relative;
                top: -50px;
                text-align: center;

                @media only screen and (max-width: 768px) {
                    display: none !important;
                }
            }
        }
    }
}

[role="complementary"], [role="main"] {
    display: block;
    position: relative;
    z-index: 1;
    -webkit-transition: 0.08s all;
    -moz-transition: 0.08s all;
    -o-transition: 0.8s all;
    transition: 0.08s all;
}
[role="main"] {
    margin-left: 0;
    float: right;
    z-index: 1;
    position: relative;
    background: #fff;
}

.hide-extras {
    [role="main"] {
        width: 100%;
        overflow: hidden;
    }
}

[role="main"] {
    width: 100%;

    @media only screen and (max-width: 768px) {
        width: 80%;
    }
}

.text-overlay {
    background: rgba(0,0,0,0.2);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    -moz-transition: all 1.5s;
    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
    opacity: 1;
}

.header-image-color {
    background: #4d515c;
    background: rgba(66,70,80,0.9);
}

.header-cover {
    background: #6d717a;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6d717a), color-stop(100%, #4e5059));
    background: -webkit-linear-gradient(top, #6d717a 0%, #4e5059 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#6d717a), to(#4e5059));
    background: linear-gradient(to bottom, #6d717a 0%, #4e5059 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d717a', endColorstr='#4e5059',GradientType=0 );
    padding: 0;
}

.white-text {
    color: #fff;
}

.home .main-header {
    position: relative;
}
