.issues {
    position: relative;
}

.issue {
	position: relative;
	margin: 0;
	padding-bottom: 2em;
    order: 1;
    flex-grow: 1;
	width: 100%;

    @media (max-width: 767px) {
		border-radius: 3px;
	}

	&:first-child {
		margin-top: 0;
	}

	&:before {
		content: "";
		display: block;
		position: absolute;
		height: 100%;
		left: 30px;
		border-left: 1px solid #eee;

		@media (max-width: 991px) {
			content: none;
			display: none;
		}
	}

	.avatar {
		position: relative;
		z-index: 2;
		overflow: visible;
		text-align: left;
		font-size: 14px;
		padding-left: 0;
		float: left;
		margin-right: 19px;

		@media (max-width: 991px) {
			display: none;
		}

		@media (max-width: 767px) {
			display: block;
        	text-align: center;
        	background: #eee;
        	border-bottom: 1px solid #ddd;
        	width: 100%;
        	margin-bottom: 14px;
        	margin-right: 0;
        	padding: 10px
		}

		a {
			display: block;
		}

		.name {
			display: none;

			@media (max-width: 767px){
				display: block !important;
				margin: 0 0 0 15px;
        		float: left;
        		line-height: 60px;
			}
		}

		.img-circle {
			width: 60px;
			border-radius: 50%;
			vertical-align: middle;
		}
	}

	.body {
		background: #fff;
    	padding: 30px 40px 20px;
    	position: relative;
    	overflow: visible;
    	border: 1px solid #ddd;
    	border-radius: 3px;
    	font-size: 1rem;
    	line-height: 1.6;
    	margin-right: -12px;
        width: 93%;
        float: none;
        margin-left: 80px;
        
    	@media (max-width: 1200px) {
    		width: 91.54%
    	}

    	@media (max-width: 991px) {
    		width: 100%;
    		border: none;
    	}

    	@media (max-width: 767px) {
    		padding: 10px;
    	}

    	pre,
    	code {
    		font-size: .9rem;
    	}

    	&:before {
    		background: #E9F2DE;

    		@media (min-width: 767px) {
    			content: "";
    			display: block;
    			position: absolute;
    			top: 21px;
    			left: -6px;
    			width: 10px;
    			height: 10px;
    			background: #FFF;
    			border-left: 1px solid #CAD5E0;
    			border-top: 1px solid #CAD5E0;
    			-moz-transform: rotate(-45deg);
    			-webkit-transform: rotate(-45deg);
    		}
    	}

    	.meta {
    		margin-bottom: 18px;

    		p, span, a {
    			color: #757575;
    			font-size: .8rem;
                display: inline;
    		}

    		a {
    			color: #333;
    			border-bottom: 1px #e8603c solid;

    			&:hover {
    				color: #e8603c;
    				border-bottom: 0;
    			}
    		}

            p.preview {
                color: #95CC5E;
            }
    	}
	}
}

.view-editor {
    margin-top: 30px;
    display: flex;
    min-height: 300px;

    .entry-markdown, 
    .entry-preview {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 50%;

        @media (max-width: 1000px) {
            width: 100%;
            border-left: none;
        }
    }

    .entry-markdown-content,
    .entry-preview-content {
        order: 1;
        flex-grow: 1;

        @media (max-width: 1000px) {
            width: 100%;
            border-left: none;

            &:not(.active) {
                visibility: hidden;
                position: absolute;
                z-index: -1;
                height: 100%;
            }
        }
    }

    .floatingheader {
        order: 2;
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 15px;
        height: 40px;
        border-top: #dfe1e3 1px solid;
        color: $color__gray;
        font-size: 1.2rem;
        line-height: 1em;

        a {
            padding: 5px 15px;
            color: $color__gray;
        }
    }

    .entry-markdown-content {
        position: relative;
        flex-grow: 1;
    }

    .markdown-editor {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: auto;
        padding: 21px 20px 36px 20px;
        max-width: 100%;
        height: 100%;
        border: 0;
        color: #333;
        font-family: $font-family-monospace;
        font-size: 1rem;
        resize: none;

        &:focus {
            outline: 0;
        }

        @media(max-width: 450px) {
            padding: 15px;
        }
    }

    .entry-preview-content {
        flex-grow: 1;
        overflow: auto;
        word-break: break-word;
        hyphens: auto;
        cursor: default;
    }

    .entry-preview-content *,
    .content-preview-content * {
        user-select: text;
    }

    .entry-preview {
        #issue-preview {
            margin-left: 20px;

            .body {
                width: 80%;
            }
        }
        .entry-preview-content {
            font-size: .9rem;
            p {
                font-size: .9rem;
            }
        }
    }

    p.word-count {
        font-size: .7rem !important;
        color: #757575;
        float: right;
        overflow: hidden;
    }
}

.markdown-help {
    font-size: 16px;
}

.markdown-help:hover {
    cursor: help;
}

.modal-markdown-help-table {
    margin: 0 0 20px;
    width: 100%;
}

.modal-markdown-help-table td,
.modal-markdown-help-table th {
    padding: 8px 0;
}

.modal-markdown-help-table th {
    text-align: left;
}
