<section class="sh-view">
  <header class="view-header">
    {{#sh-view-title openMobileMenu="openMobileMenu"}}
      {{link-to "User" "users"}}
      <i class="fa fa-arrow-right"></i> <span>{{user.name}}</span>
    {{/sh-view-title}}
  </header>
  <div class="view-container settings-user">

  </div>
</section>