<section class="sh-view">
  <header class="sh-view-header">
    {{#sh-view-title openMobileMenu="openMobileMenu"}}
      {{link-to "User" "users"}}
      <i class="icon-arrow-right"></i> <span>{{user.name}}</span>
    {{/sh-view-title}}
  </header>
</section>