<header class="main-header app">
  <nav class="top-bar global-nav navbar-app" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1>{{#link-to "index"}} Memtoko{{/link-to}}</h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
        <section class="top-bar-section">
            <ul class="right">
              <li>{{#link-to "cart"}} Cart{{/link-to}}</li>
              {{#if session.isAuthenticated}}
                <li class="has-dropdown">
                  <a href="#">{{ session.user.username }}</a>
                    <ul class="dropdown">
                      <li><a href="/account/dashboard">Dashboard</a></li>
                      <li><a href="/account/logout">Logout</a></li>
                    </ul>
                </li>
              {{else}}
                <li><a href="/account/login">Login</a></li>
                <li><a href="/account/register">Register</a></li>
              {{/if}}
            </ul>
              <ul class="left">
                <li>{{#link-to "shop"}} Shop{{/link-to}}</li>
            </ul>
        </section>
  </nav>
  {{yield}}
</header>
